<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Page.Title</title>
    <script src="~/js/materialize.js" ></script>
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link rel="stylesheet" href="~/css/styles_main.css" />
    
</head>
<body>
    <header>
        <nav data-activates="main_nav" class="btn-collapse top-nav blue darken-1 full hide-on-large-only fixed">
            <a href='#' data-activates='main_nav' class='button-collapse'><i class="mdi-navigation-menu"></i></a>
        </nav>
        <!-- <div id="" class="col s12 m4 l3 blue lighten-1 side-nav fixed"> -->
        <ul id="main_nav" class="side-nav fixed">
            <li class="logo" id="logo">
               <img src="~/Images/LboroLogo.png"/>
            </li>
            @Links.NavLink("Dashboard", "")
            @Links.NavLink("Manage Requests", "requests")

        </ul>
    </header>

    <div id='wrapper' class="container">
        @RenderBody()
    </div>

</body>
</html>