@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Request";
    Page.Path = "editrequest";
    Page.Parent = "Manage Requests";
    Page.ParentPath = "requests";
}

<h4>Edit Request</h4>
<p>ID = @Request.QueryString["id"]</p>