
@using Models
@{ 
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
    Page.Path = ".";
    var DB = Database.Open("dbConnectionString");
    string dept_id = Department.User.departmentID();
    string sqlString = "SELECT * FROM request WHERE status='c' AND dept_id = @0";
    var data = DB.Query(sqlString, dept_id); ///= Functions.cleanRequestData(DB.Query(sqlString));

    var ldata = Models.Request.convertTo(data);

    var tediousList = new List<Dictionary<string, string>>();
    foreach(Request r in ldata) {
        tediousList.Add(r.ToNiceList());
    }

    var JSON = Json.Encode(tediousList);

    var fdata = DB.Query("SELECT * FROM request WHERE status='r' AND dept_id = @0", dept_id);
    var flist2 = Models.Request.convertTo(fdata);
    var flist3 = new List<Dictionary<string, string>>();
    foreach(Request r in flist2) {
        flist3.Add(r.ToNiceList());
    }
    var json2 = Json.Encode(flist3);
}

    <div class="AccessabilityBar">
        <button class="btn AccessabilityBarButtons" id="plustext"
                onclick="zoomIn()">
            +
        </button>
        <button class="btn AccessabilityBarButtons" id="minustext"
                onclick="zoomOut()">
            -
        </button>
        <button class="btn AccessabilityBarButtons" id="reset"
                onclick="reset()">
            Reset Font Size
        </button>
        <button class="btn AccessabilityBarButtons" id="Invert"
                onclick="invert()">
            Invert
        </button>
    </div>

    <h3>Dashboard</h3>
    <div>
        @JsonList.PrintList("requestlist", JSON, "Approved requests")
    </div>
    <div>
        @JsonList.PrintList("failedlist", json2, "Rejected requests")
    </div>

    @{
        DB.Close();
    }
