@using Models
@{ 
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
    Page.Path = ".";
    var DB = Database.Open("dbConnectionString");
    string sqlString = "SELECT * FROM request WHERE status='c'";
    var data = DB.Query(sqlString); ///= Functions.cleanRequestData(DB.Query(sqlString));

    var ldata = Models.Request.convertTo(data);

    var tediousList = new List<Dictionary<string, string>>();
    foreach(Request r in ldata) {
        tediousList.Add(r.ToNiceList());
    }

    var JSON = Json.Encode(tediousList);
}

<h3>Dashboard</h3>
<div>
    @JsonList.PrintList("requestlist", JSON, "Approved requests")
</div>
