<body>
@using Models
@{ 
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
    Page.Path = ".";
    var DB = Database.Open("dbConnectionString");
    string sqlString = "SELECT * FROM request WHERE status='c'";
    var data = DB.Query(sqlString); ///= Functions.cleanRequestData(DB.Query(sqlString));

    var ldata = Models.Request.convertTo(data);

    var tediousList = new List<Dictionary<string, string>>();
    foreach(Request r in ldata) {
        tediousList.Add(r.ToNiceList());
    }

    var JSON = Json.Encode(tediousList);
}

<h3>Dashboard</h3>
<div>
    @JsonList.PrintList("requestlist", JSON, "Approved requests")
</div>

<script type="text/javascript">

var fontSize = 1;
function zoomIn() {
	/* Button to make the font size bigger using JavaScript */
    fontSize += 0.1;
    document.body.style.fontSize = fontSize + "em";
    document.getElementById("NewInfo").style.fontSize = fontSize + "em";
    document.getElementById("Button").style.fontSize = fontSize + "em";
}
function zoomOut() {
	/* Button to make the font size smaller using JavaScript */
    fontSize -= 0.1;
    document.body.style.fontSize = fontSize + "em";
    document.getElementById("NewInfo").style.fontSize = fontSize + "em";
    document.getElementById("Button").style.fontSize = fontSize + "em";
}

function reset(){
	/* Button to reset the font size using JavaScript */
     document.getElementById("body").style.fontSize = "initial";

} 

function invert(){
	/* Javascript for inverting page colours */
    document.getElementById("body").style.webkitFilter = "invert(100%)";
}

function reinvert(){
	/* Javascript for re-inverting page colours */
    document.getElementById("body").style.webkitFilter = "initial";
}
</script>
<div class="AccessabilityBar"> 
	  <button class="AccessabilityBarButtons" id="Helpbutton" 
	  onclick="myFunction()">Help</button> 
      <button class="AccessabilityBarButtons" id="plustext" 
      onclick="zoomIn()">+</button>
      <button class="AccessabilityBarButtons" id="minustext" 
      onclick="zoomOut()">-</button>
      <button class="AccessabilityBarButtons" id="reset" 
      onclick="reset()">Reset Font Size</button>
      <button class="AccessabilityBarButtons" id="Invert" 
      onclick="invert()">Invert</button>
      <button class="AccessabilityBarButtons" id="reinvert" 
      onclick="reinvert()">Reinvert</button>
</div>

</body>