@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lboro Timetable";
    Page.Name = "dashboard";
    var DB = Database.Open("dbConnectionString");
    var JSON = Json.Encode(DB.Query("SELECT * FROM request WHERE status='c'"));
}

<h3>Dashboard</h3>
<div>
    @JsonList.PrintList("requestlist", JSON, "Approved requests")
</div>