@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Contact";
}


    <div id='main-content' class="container-fluid">
        <!-- html to show the current booking round type -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <h1>Current booking round:</h1>
                            <hr>
                            <h2 class='force-red'>Semester 1 - Priority Booking Round</h2>
                            <h2 class='force-red'>Semester 2 - Booking Not Available</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- html for room request button to link to booking page -->
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Make a room request</h2>
                            <hr>
                            <p>Enter your requirements and book your room requests here.</p>
                            <br>
                            <a class="btn btn-primary" href="book.cshtml" role="button">Room Request »</a>
                        </div>
                    </div>
                </div>

                <!-- html for room allocations button to link to allocations page -->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Approved room allocations</h2>
                            <hr>
                            <p>See which rooms have been allocated from your previous round submissions.</p>
                            <br>
                            <a class="btn btn-primary" href="allocations.cshtml" role="button">Room Allocations »</a>
                        </div>
                    </div>
                </div>

                <!-- html for room availability button to link to rooms page -->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>View available rooms</h2>
                            <hr>
                            <p>See which rooms haven't yet been allocated in the previous round.</p>
                            <br>
                            <a class="btn btn-primary" href="rooms.cshtml" role="button">Available Rooms »</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- heaadings for the general log of submissions -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <h1>General Log: 5 latest submissions</h1>
                            <hr>

                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed" ;>
                                    <thead>
                                        <tr>
                                            <th>Request Number</th>
                                            <th>Request Status</th>
                                            <th style='display:none;'>Department</th> <!-- Hidden column -->
                                            <th>Module</th>
                                            <th>Semester</th>
                                            <th>Start Week</th>
                                            <th>End Week</th>
                                            <th>Day</th>
                                            <th>Period (1-9)</th>
                                            <th>Length (Hours)</th>
                                            <th>Priority</th>
                                            <th>Number Of Students</th>
                                            <th>Park</th>
                                            <th>Number of Rooms</th>
                                            <th>Preference</th>
                                            <th>Lecture/Seminar (L/S)</th>
                                            <th>Fixed Data Projector</th>
                                            <th>Number of Projectors</th>
                                            <th>Visualiser</th>
                                            <th>Special Requirements</th>
                                            <th>Group Number</th>
                                            <th>Room Granted</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       

                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>