@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Modules";
    Page.Path = "module";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT module_code AS 'Module code', module_title as 'Module title', dept_id as 'Department ID' FROM module");
    var JSON = Json.Encode(Data);
}

<!--MODULE TABLE-->

<div>
    @JsonList.PrintList("requestlist", JSON, "Modules")
</div>

<br />

<!--ADD MODULE-->

<label style="font-size:2.5em;color:black;">Add Module</label>

<br />
<form method="post">
    <div>
        <label  for="moduleCode">Module Code <span style="font-size:1.25em;color:red;">*</span></label>
        <div class="col-md-4">
            <input id="moduleCode" name="code" type="text" value="@Request.Form["code"]" class="form-control input-md">
        </div>
    </div>

    <div>
        <label for="moduleTitle">Module Title <span style="font-size:1.25em;color:red;">*</span></label>
        <div class="col-md-4">
            <input id="moduleTitle" name="title" type="text" value="@Request.Form["title"]" class="form-control input-md">
        </div>
    </div>

    <div>
        <label for="submit"></label>
        <div >
            <input type="submit"  class="btn waves-effect"  name="buttonSubmit" value="Add">
        </div>
    </div>
</form>

<br />

@{
    var code = "";
    var title = "";

    if(IsPost){
        
        code = Request.Form["code"];
        title = Request.Form["title"];

        var db = Database.Open("dbConnectionString");
        var insertCommand = "INSERT INTO module (module_code, module_title, dept_id) VALUES (@0, @1, 'CO')";
        db.Execute(insertCommand, code, title);
        Response.Redirect("~/module");
    }

    
}

<!--EDIT MODULE-->

<label style="font-size:2.5em;color:black;">Edit Module</label>

<br />

<label style="font-size:1.5em;color:black;">Current Module Details</label>

<br />


<form method="post">
   

    <div>
        <label for="moduleTitle">Module Details <span style="font-size:1.25em;color:red;">*</span></label>
        <div>

            <select name="module">
                
               @RequestForm.Modules()
            </select>

</div>
    </div>

    <div>
        <label for="submit"></label>
        <div>
            <input type="submit" class="btn waves-effect" name="buttonSubmit" value="Edit">
        </div>
    </div>
</form>

<br />