@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Past data";
    Page.Path = "pastdata";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT * FROM pastsubmissions WHERE ModuleCode LIKE 'CO%'");

    List<dynamic> list = new List<dynamic>();
    foreach(dynamic row in Data) {
        list.Add(Models.OldRequest.ToNiceList(row));
    }
    var JSON = Json.Encode(list);
}

<div>
    @JsonList.PrintList("requestlist", JSON, "Past submissions")
</div>