@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lboro Timetable";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT * FROM request");
    var JSON = Json.Encode(Data);
}

<h3>Requests</h3>
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>