@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lboro Timetable";
    var DB = Database.Open("dbConnectionString");
    var Grid = new WebGrid(DB.Query("SELECT * FROM allocation"));
}

<h3>Requests</h3>
<div>
    @Grid.GetHtml(
        tableStyle: "MyTable",
        headerStyle: "columnHead",
        alternatingRowStyle: "altRow",
        columns: Grid.Columns(Grid.Column("RequestNo", "Request Number"),
            Grid.Column("Email", "Email"),
            Grid.Column("RoomCode", "Room Code"),
            Grid.Column("Status", "Status"),
            Grid.Column("GroupNo", "Group Number")
        )
    )
</div>