@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lboro Timetable";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT * FROM request");
    var JSON = Json.Encode(Data);

    string title = "";

    if (IsPost){
        title = Request.Form["title"];
    }
}

<h3>Requests - @title</h3>
<div id="requestForm">
    <form method="post" action="./requests.cshtml">
        <label for="titleinput">Title</label>
        <input type="text" id="titleinput" name="title" value="@title" />
        <input class="btn waves-effect" type="submit" value="Submit"/>
    </form>
</div>
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>