@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Rooms";
    Page.Path = "rooms";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT * FROM room");

    List<dynamic> list = new List<dynamic>();
    foreach(dynamic r in Data) {
        list.Add(Models.Room.ToNiceList(r));
    }
    var JSON = Json.Encode(list);
}

<h3>Rooms</h3>
@*
<div id="requestForm">
    <form method="post" action="./rooms.cshtml?add">
        <div class="row">
            <div class="col s12 m12 l6" id="form_left">
                <!-- left part of form -->
            </div>
            <div class="col s12 m12 l6" id="form_right">
                <!-- right part of form -->
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="form_buttons">
                <input class="btn waves-effect" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>*@
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>



<!-- ADD LECTURER -->

<label style="font-size:2.5em;color:black;">Assign private room to your department</label>


<br />

<form method="post" action="?privateroom=true">
   

    <div>
        <label for="moduleTitle">Room Details <span style="font-size:1.25em;color:red;">*</span></label>
        <div>

            <select class="browser-default" name="room_details" id="room_details" value=" ">
                
               @RequestForm.Rooms()
            </select>

        </div>
    </div>
    <br />
    
    <div>
        <label for="submit"></label>
        <div>
            <input type="submit" class="btn waves-effect" name="buttonSubmit" value="Assign">
        </div>
    </div>
</form>

@{
    
    var room_details = "";
    
    if(IsPost && (Request.QueryString["privateroom"]=="true")){
        
        room_details = Request.Form["room_details"];

        var db = Database.Open("dbConnectionString");
        var addLecturer = "INSERT INTO room dept_id = 'CO' WHERE room_code = room_details";
       
        
        db.Execute(addLecturer, room_details);
        Response.Redirect("~/rooms");
    }

    
}
@{
    DB.Close();
}


