@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Rooms";
    Page.Path = "rooms";
    var DB = Database.Open("dbConnectionString");
    var Data = DB.Query("SELECT room_code AS 'Code', park as 'Park', capacity as 'Capacity', type as 'Type', dept_id AS 'Department ID' FROM room");
    var JSON = Json.Encode(Data);    
}

<h3>Rooms</h3>
<div id="requestForm">
    <form method="post" action="./rooms.cshtml?add">
        <div class="row">
            <div class="col s12 m12 l6" id="form_left">
                <!-- left part of form -->
            </div>
            <div class="col s12 m12 l6" id="form_right">
                <!-- right part of form -->
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="form_buttons">
                <input class="btn waves-effect" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
<div>
    @JsonList.PrintList("requestlist", JSON, "All requests")
</div>
<script>
    $('select').material_select();
    Materialize.updateTextFields();
</script>