@helper PrintList(string id, string JsonData, string title) {
    <!-- jsonList @id begins -->
    <div class='form listWrapper'>
    @{
        string data_id = id + "_data";
        string body_id = id + "_body";
        string search_id = id + "_search";
        string pagenumber = id + "_pagenumber";
        dynamic data = Json.Decode(JsonData);
    }
    </div>
    <!-- jsonList ends -->
}
