
<html>
     <head> 
         <script src="~/js/materialize.js" ></script>
         <link rel="stylesheet" href="~/css/materialize.css" />
     <body>
 <div class="Helpbar" align= "center"> 
 	  <button class="btn" id="Dashboardbutton" onclick="myFunction()">Dashboard</button> 
       <button class="btn" id="Manage Requests" onclick="myFunction2()">Manage Requests</button>
       <button class="btn" id="Past Data" onclick="myFunction3()">Past Data</button>
       <button class="btn" id="Modules" onclick= "myFunction4()">Modules</button>
       <button class="btn" id="Rooms" onclick="myFunction5()">Rooms</button>
       <button class="btn" id="Timetable" onclick="myFunction6()">Timetable</button>
       
       
 
<br>
<br>
</br> 
<script>
function myFunction()
{
 document.getElementById('DashText').innerHTML = "The dashboard provides a simple, compact interface for viewing all information available on the website in a concise manner. It displays all approved and rejected requests and gives you the option to edit, withdraw or delete them if needed.";
}

function myFunction2()
{
 document.getElementById('DashText').innerHTML = "The Manage Request page enables the user to create and edit or delete previously submitted requests.";
}
function myFunction3()
{
 document.getElementById('DashText').innerHTML = "The Past Data page enables the user to view timetable requests from previous years with the ability to copy them as a basis for new requests.";
}
function myFunction4()
{
 document.getElementById('DashText').innerHTML = "The Modules page enables the user to add a new module or to edit a current one. Also it alows you to assign a new lecturer to an existing module and to view all the current modules in the department.";
}
function myFunction5()
{
 document.getElementById('DashText').innerHTML = "The Rooms page displays all the rooms currently existing in the database. Also enables the user to create an entry for a new room that is private to the department.";
}
function myFunction6()
{
 document.getElementById('DashText').innerHTML = "The Timetable page enables you to view the current status of requests made for the department, displaying rejected requests in red, pending requests in orange and accepted requests in green. Also alows the user to filter those entries by either semester or week.";
}
function myFunction7()
{
 document.getElementById('DashText').innerHTML = "The Manage Account page confirms who the current user is logged in as and allows you to change your current password.";
}
</script>


<p><b id='DashText'>Welcome to the site </b> </p> 



 
       
       </body>
       </head>
       </html>